{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ElkLodge</title>
	{%include "scripts/styles.html"%}
</head>
<body>
	{%include "navbar.html"%}
	<div class="padding"></div>
	<h3 class="text-center">Weddings at the Elk Lodge</h3>
		<div class="container">
			<div class="parallax_0">
				<div class="parallax-container">
					<section class="text-center parallax-header-0 handscript">
						<h2>Weddings are great</h2>
					</section>
				</div>
			</div>
			<div class="parallax container">
				Donut bear claw chocolate sugar plum. Jelly-o jelly-o dessert brownie soufflé cookie marzipan caramels. Cheesecake sugar plum marzipan. Cupcake toffee dessert chocolate bar soufflé.
			</div>
			<div class="parallax_1">
				<div class="parallax-container">
					<section class="text-center parallax-header-1 handscript">
						<h2>Weddings are great</h2>
					</section>
				</div>
			</div>
			<div class="parallax container">
				Donut bear claw chocolate sugar plum. Jelly-o jelly-o dessert brownie soufflé cookie marzipan caramels. Cheesecake sugar plum marzipan. Cupcake toffee dessert chocolate bar soufflé.
			</div>
			<div class="parallax_2">
				<div class="parallax-container">
					<section class="text-center parallax-header-2 handscript">
						<h2>Weddings are great</h2>
					</section>
				</div>
			</div>
			<div class="parallax container">
				Donut bear claw chocolate sugar plum. Jelly-o jelly-o dessert brownie soufflé cookie marzipan caramels. Cheesecake sugar plum marzipan. Cupcake toffee dessert chocolate bar soufflé.
			</div>
			    <form class="form-signin">       
			    	<h2 class="form-signin-heading">Please Wedding</h2>
			      	<input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
			      	<br>
			      	<input type="Password" class="form-control" name="password" placeholder="Password" required=""/> 
			      	<br>     
	    			<h5>
	    				<a>Forgot your Wedding?</br>Click here</a>
	    			</h5>
	    			<div class="row">
			      		<div class="col-sm push">     
					   		<button class="btn btn-lg btn-block register_button signin" type="submit"> wed </button>   
						</div>
					</div>
			    </form>
	<div class="padding"></div>
</div>
	{% include "footer.html"%}
	{%include "scripts/js.html"%}
</body>
</html> 


