
<div id="myCarousel2" class="carousel slide text-center greenblock" data-ride="carousel">
  <br>
  <ol class="carousel-indicators">
    <li data-target="#myCarousel2" data-slide-to="0"></li>
    <li data-target="#myCarousel2" data-slide-to="1"></li>
    <li data-target="#myCarousel2" data-slide-to="2"></li>
  </ol>


   	<div class="row carousel-inner" role="listbox">
	{% for events in today %}
   {% if forloop.first %} 
    <div class="item active">
        <div class="card">
				<div class="card-block">
					<img class="topslide" src="http://lorempixel.com/400/200/business">
				<h4 class="card-title">{{events.event_name}}</h4>
				<h3>{{events.event_type}}</h3>
				<h3>{{events.event_description}}</h3>
			</div>
		</div>
	</div>
  {% else %}
  <div class="item">
        <div class="card">
        <div class="card-block">
          <img class="topslide" src="http://lorempixel.com/400/200/business">
        <h4 class="card-title">{{events.event_name}}</h4>
        <h3>{{events.event_type}}</h3>
        <h3>{{events.event_description}}</h3>
      </div>
    </div>
  </div>

	{% endif %}
  {% endfor %}
</div>
<br>
<div class="row">
<h5 class="text-center">Elks invest in their communities through programs that help children grow up healthy and drug-free, meet the needs of todays veterans, and improve the quality of life</h5>
</div>
</div>
<br>
<br>
<br>
<br>
	</div>


			