  body {
      font-family: Montserrat, sans-serif;
  }

  h1 {
    font-family: Palatino Linotype, serif;
    text-transform: uppercase;
    letter-spacing: 3px;

  }

  h3 {
    font-family: Palatino Linotype, serif;
    text-transform: uppercase;
    letter-spacing: 3px;

  }

  h4 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

  }


  .slideBox {
    height: 600px;
    width: auto;
  }

  .jumbotron {
      background-color: #EDF0F2;
      color:  #303030;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
 
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #f4511e;
  }
  .carousel-indicators li {
      border-color: #f4511e;
  }
  .carousel-indicators li.active {
      background-color: #f4511e;
  }
 
  .panel {
      /*border: 1px solid #f4511e; */
      border-radius:0 !important;
      transition: box-shadow 0.5s;
      height: 30% !important;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      /*border: 1px solid #303030;*/
      background-color: #fff !important;
      color: #303030;
  }
  .panel-heading {
      color: lightblue !important;
      /*background-color: #303030 !important;*/
      padding: 25px;
      border-bottom: 2px solid lightblue;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;

  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #303030;
      color: #fff;
  }








  .navbar {
      margin-bottom: 0;
      background-color: #EDF0F2;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .yay {
      border-radius: 7%;
      color: #C7C7BB;
      background-color: #334738;
      float: right;
  }
  
  .navbar li a, .navbar .navbar-brand {
      color: #334738 !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: white !important;
      background-color: #354F52 !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }


  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #f4511e;
  }




  
  /*.slideanim {visibility:hidden;}*/
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      /*opacity: 0;*/
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      /*opacity: 0;*/
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  





.wrapper {  
  margin-top: 80px;
  margin-bottom: 80px;
}

form {
  background-color: darkgrey;
  border-radius: 5%;
  color: white;
  border-style: none;
  align-content: center;
}
.form-signin {
  max-width: 50%;
  padding: 3%;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading,
  .checkbox {
    margin-bottom: 30px;
  }

  .checkbox {
    font-weight: normal;
  }

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);

    &:focus {
      z-index: 2;
    }
  }

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}




.signin {
  width: auto;
  border-radius: 7%;

}

.blurg {
  padding-left: 5%;
}

.band {
  display: flex;
  align-items: flex-end;
  position: relative;
  text-transform: capitalize;
  padding-top: 0%;
  color: #C7C7BB;
  background-color: #334738;
}

.bottom {
  align-self: flex-end;
}

.push {
  padding-right: 5%;
  float: right;
}
