 

  h1, h3, h4, .form-signin-heading  {
    font-family: Palatino Linotype, serif;
    text-transform: uppercase;
    letter-spacing: 3px;

  }

  h4 {
    font-family: Montserrat, sans-serif;
  }

  h5 {
    color: #BFBFBF;

  }

/* handwritten font elements */

  .handscript, .handscript button, .navbar button, .register_button{
    font-family: Optima sans-serif;
    font-style: oblique;
    font-size: 1.5em;
    word-spacing: 3px;
    transition: background-color 0.5s ease;
  }

  .handscript button {
    background-color: #fff9c4;
  }

  .handscript button:hover {
    background-color: #334738; 
    color: #FFF;
  }

 .handscript > h4, .navbar button {
  color: #37474f;
  text-transform: lowercase;
}

 .handscript > .card-title{
  color: #37474f;
  text-transform: lowercase;
}

.smallscript {
  font-size: .5em;
}

  /*navigation styles --navbar.html*/


  .navbar {
      margin-bottom: 0;
      background-color: transparent;
      background: transparent;
      border-color: transparent;
      border: 0;
      font-size: 20px !important;
      font-family: Palatino Linotype, serif;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
  }

  .navbar li a, .navbar .navbar-brand {
      color: #09260c !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #fff !important;
      background-color: #09260c; !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }


  .navbar button {
    letter-spacing: 3px;
    border: solid 2px #09260c;
    float: right;
    color: #334738 !important;   
}

.navbar button:hover {
    border-color:  #56765e; 
    box-shadow: 1px 1px;
}


.navbar button a {
  text-decoration: none;
  color: #334738 !important;   
}

/*jumbotron elk svg styling --jumbotron.html*/
  .leftpadding{
    padding-left: 5%;
  }


  .slideBox {
    height: 500px;
    width: auto;
  }

  .padding {
    padding-top: 100px;
  }

  .jumbotron1 {
    background-color: #EDF0F2;
    background: url(assets/header.svg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    color:  #303030;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
  }

  .container-fluid {
      padding: 60px 50px;
  }
  
.band, .leftpadding h3, h4 {
  color: #fff;
}

.band {
  display: flex;
  align-items: flex-end;
  position: relative;
  text-transform: capitalize;
  padding-top: 0%;
  color: #303030;
  font-size: 1.2em; 
  background-color: #09260c;
}

.band, .col-sm-3 {
  padding-bottom: 1%;
}

/*slideshow styling - cards --about.html, events.html*/
  

  .card-style {
    margin: auto;
    width: 50%;
    background-color: #37474f;
    font-family: Montserrat, sans-serif; 
    letter-spacing: 1px;
    color: white !important;
    width: 263px;
    border-radius: 5%;
    padding-bottom: .5%;


  }

  .cardSize {
  width: 263px;
  height: 329px;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}

.card-block ul li img {
  width: 23.76px !important;
  height: 23.76px !important;
  padding-bottom: 1.5%;
}

.card-block ul li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

/*about.html*/
#myCarousel2 h5 {
  padding-bottom: 5%;

}
.greenblock {
  background-color: #09260c;
  color: #F9D663;
}
.topslide {
  width: 378px;
  height: 306px;
  border-radius: 7%;
}



/*slideshow styling - carousel --about.html, events.html */

.carousel-control.right, .carousel-control.left {
  background-image: none !important;
}

.carousel-indicators 
.active {
  background-color: transparent !important;
  color: transparent !important;
  border-style: solid white;
}

.carousel-indicators li {
  opacity: .7;
  background-color: #fff !important;
  color: white !important;
  border: solid #fff 1px;
}

.carousel-control.right, .carousel-control.left, .glyphicon-chevron a span {
  background-color: transparent !important;
  color: #383838 !important;
}

.wrapper {  
  margin-top: 80px;
  margin-bottom: 80px;
}

/* Membership pricing panels section --- prices.html*/

  .panel {
      border-radius:0 !important;
      transition: box-shadow 0.5s;
      height: 100% !important;
      position: relative;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      background-color: #fff !important;
      color: #303030;
  }
  .panel-heading {
      color: lightblue !important;
      padding: 25px;
      border-bottom: 2px solid lightblue;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: #fff !important;
      position: absolute;
      align-content: center;
      margin: auto;
      padding-left: 35%;
      bottom: 0;
      border-top: transparent;
  }
  .panel-body {
    border-bottom: 1px solid #ddd;  
  }
  
  .panel-footer .btn {
      background-color: #303030;
      color: #fff;
  }
  .panel-sizing {
    height: 500px;
  }

  /*.slideanim {visibility:hidden;}*/
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      /*opacity: 0;*/
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
  

  /*login register wedding.html*/

form {
  /*background-color: darkgrey;*/
  border-radius: 5%;
  color: #fff;
  border-style: none;
  align-content: center;
}
.form-signin {
  max-width: 50%;
  padding: 3%;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading,
  .checkbox {
    margin-bottom: 30px;
  }

  .checkbox {
    font-weight: normal;
  }

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);
    &:focus {
      z-index: 2;
    }
  }

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}




.push {
  padding-right: 5%;
  float: right;
}




/* styling for register and login pages*/

.register_button{
  -webkit-transition-duration: 0.4s; 
    /*transition-duration: 0.4s;*/
    text-transform: lowercase;
    background-color: #fff; 
    border: solid 2px #2b3b2f;
    color: #2b3b2f;
}
.register_button:hover {
  background-color: #334738;
  color: #fff;
}

.form-signin {
  background-color: #405946; 
  border: solid 2px #334738;
  text-align: center;
  text-transform: lowercase;
  }

.form-signin-heading{
  text-transform: none;
  }

input.form-control::-webkit-input-placeholder {
  text-align: center;
}

form a {
  color: #89a991;
}

form a:hover {
  color: #fff;
  text-decoration: none;  
}


/* footer style */
footer {
    color: #fff;
    background-color:#334738;
  }

