{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>BraintreeFlaskExample</title>
  {%include "styles.html"%}
</head>
<body>
  <header class="main">
    <div class="container wide">
      <div class="content slim">
        <div class="set">
          <div class="fill">
            <a class="pseudoshop" href="/">PSEUDO<strong>SHOP</strong></a>
          </div>

          <div class="fit">
            <a class="braintree" href="https://developers.braintreepayments.com/guides/drop-in" target="_blank">Braintree</a>
          </div>
        </div>
      </div>
    </div>

    <div class="notice-wrapper">
        {% for message in messages %}
          <div class="show notice error notice-error">
            <span class="notice-message">{{ message }}</span>
          </div>
        {% endfor %}
    </div>
  </header>


  {% block content %}{% endblock %}
  <script type="text/javascript" src="{% static 'js/demo.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/javascripts.js' %}"></script>
  </body>
</html>