<div class="container-fluid">	
		<div class="row text-center">
			<h2>Who are the Franklin Elks?</h2>
			<h5>{% lorem %}</h5>
		</div>
	</div>
<div id="about" class="row text-center"> 
	<div class="carousel slide media-carousel" id="media">
		<div class="carousel-inner">
		{% for elk in members%}
			<div class="item">
				<div class="card" style="width: 20rem;">
			  		<img class="card-img-top" src="{{elk.elk_photo}}" alt="Card image cap">
			  			<div class="card-block">
			    			<h4 class="card-title">{{elk.first_name}}</h4>
			    			<p class="card-text">{{elk.last_name}}</p>
			  			</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
</div>
	