{% load staticfiles %}
<div class="container-fluid">
		<div class="row text-center">
			<img class="img-responsive" src="{% static 'assets/elk.svg' %}" alt="logo"/>

			<!-- <h3>What's an Elk?</h3> -->
			<!-- <svg>Im an SVG</svg> -->

		</div>
	</div>
	<div class="container-fluid greenblock">	
		<div class="row text-center">
			<h3>We are the Benevolent and Protective order of the elks</h3>
			<h5 class="handy">We are a place where neighbors can come together and families share meals and children grow up</h3>
		</div>
	</div>
