<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
  </a>
  <div class="row">
  	<div class="col-sm-4">{% lorem %}</div>
  	<div class="col-sm-4">{% lorem %}</div>
  	<div class="col-sm-4">
  		<h4>Menu</h4>
  		<div class="row">
  			<div class="col-sm-6">
  					<p>Home</p>
  					<p>Events</p>
  					<p>Membership</p>
  					<p>About us</p>
  			</div>
  			<div class="col-sm-6">
  					<p>Fees</p>
  					<p>Contact us</p>
  					<p>Meetings</p>
  			</div>
  		</div>
  	</div>
  </div>
	  <p>Bootstrap Theme Made By <a href="https://www.w3schools.com" title="Visit w3schools">www.w3schools.com</a></p>
</footer>