{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ElkLodge</title>
	{%include "styles.html"%}
</head>
<body>
	{%include "navbar.html"%}
	{%include "jumbotron.html"%}
	{%include "elkImage.html"%}
	{%include "about.html"%}
	{%include "who.html"%}
	{%include "prices.html" %}
	{%include "events.html" %}
	{% include "contact.html"%}
	{% include "footer.html"%}
	

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<script
	src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{% static 'javascript.js' %}"></script>
</body>
</html> 


