{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ElkLodge</title>
	{%include "styles.html"%}
</head>
<body>
	{%include "navbar.html"%}
	<div class="container-fluid">
		<div class="row text-center">
			<h1 class="header lead">The Benevolent and Protective Order of the Elks</h1>
			<div>SVG included here</div>
			<div>
				<h3>Are you interested in becoming an elk?</h3>
				<h4>Join now it's fun</h4>
				<button>Join</button>
			</div>
		</div>
		<div>
			<h3>What's an Elk?</h3>
			<svg>Im an SVG</svg>
		</div>
		<div>
			<h3>We are the Benevolent and Protective order of the elks</h3>
			<h5>We are a place where neighbors can come together and families share meals and children grow up</h5>
			<img src="http://lorempixel.com/400/200/business">
			<h6>Elks invest in their communities through programs that help children grow up healthy and drug-free, meet the needs of today's veterans, and improve quality of life.</h6>
		</div>
		<div>
			<h2>Who are the franklin elks?</h2>
			<h5>{% lorem %}</h5>
			<div class="container">
  <div class="row">
    <h2>Media Slider Carousel BS3</h2>
  </div>
  <div class='row'>
    <div class='col-md-8'>
      <div class="carousel slide media-carousel" id="media">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>          
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>        
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>          
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>        
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>          
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>      
            </div>
          </div>
        </div>
        <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
        <a data-slide="next" href="#media" class="right carousel-control">›</a>
      </div>                          
    </div>
  </div>
</div>
		</div>
		<div>
			<h2>Membership Dues</h2>
			<h4>{%lorem%}</h4>
			<div class="container">
			  <div class="row">
			    <div class="col-sm">
			      200 annually
			    </div>
			    <div class="col-sm">
			      47.50 annually
			    </div>
			    <div class="col-sm">
			      10 onetime donation
			    </div>
			  </div>
			</div>
		</div>
	</div>
	<!-- scripts -->
	<script
	src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="static/javascripts.js"></script>
</body>
</html> 


