<div class="jumbotron text-center">
		<div class="container-fluid" data-spy="scroll" data-target="#navbar-example2" data-offset="0">
			<div class="container-fluid">
				<div class="row text-center">
					<h1 class="header">The Benevolent and Protective Order of the Elks</h1>
					<div>SVG included here</div>
				</div>
			</div>
		</div>
	</div>
				<div class="row band">
					<div class="col-lg-6 col-md-8">
						<h3>Are you interested in becoming an elk?</h3>
						<h4>Join now it's fun</h4>
					</div>
					<div class="col-lg-6 col-md-4">
						<button>Join</button>
					</div>
				</div>
				