<!-- {% load staticfiles %}  -->
<div class="padding"></div>
<h3 class="header text-center">The Benevolent and Protective Order of the Elks</h3>
<div class="jumbotron1 text-center">
		<div class="container-fluid" data-spy="scroll" data-target="#navbar-example2" data-offset="0">
			<div class="container-fluid">
				<div class="row text-center">

				</div>
			</div>
		</div>
	</div>
	<div class="row band align-self-end">
		<div class="col-sm-9 leftpadding">
			<h3>Are you interested in becoming an elk?</h3>
			<h4>Join now it's fun</h4>
		</div>
		<div class="col-sm-3 align-self-end">
			<button class="btn btn-md handscript text-center">Join Now</button>
		</div>
	</div>
	