<div class="container">
	
		 <form class="form-findpassword">       
	      <h2 class="form-password-heading">Please login</h2>
	      	<input type="text" class="form-control" name="username" placeholder="Enter Username or Email" required="" autofocus="" />
	      	
	      	<input type="Text" class="form-control" name="password" placeholder="Hint for password" required=""/>      
	      		
	      	<button class="btn btn-lg btn-primary btn-block" type="submit">Retrieve Password</button>   
	    </form>

</div>

