

<div id="pricing" class="container-fluid">
  <div class="text-center">
    <h2>Membership Dues</h2>
    <h4>{%lorem%}</h4>
  </div>
  <div class="row slideanim">
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>$200 annually</h1>
          <h5>Standard</h5>
        </div>
        <div class="panel-body">
          <p>12 month membership</p>
          <p>$17.50/month</p>
          <p>Pre-paid per capita dues and assessments for Grand Lodge and State Association in accordance with the Constitution and <strong>Section</strong> 14.300 of the Statutes of the Order</p>
          
        </div>
        <div class="panel-footer">
         
          <button class="btn btn-lg">Join Now</button>
        </div>
      </div>      
    </div>     
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>$47.5 annually</h1>
          <h5>Life Membership</h5>
        </div>
        <div class="panel-body">
          <p>12 month membership</p>

          <p>Pre-paid per capita dues and assessments for Grand Lodge and State Association in accordance with the Constitution and <strong>Section</strong> 14.300 of the Statutes of the Order</p>
          
        </div>
        <div class="panel-footer">
          
          <button class="btn btn-lg">Join Now</button>
        </div>
      </div>      
    </div>       
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>$10 annually</h1>
          <h5>One-time Donation</h5>
        </div>
        <div class="panel-body">
          <p>A one-time donation that can be applied to either the Tennessee Elks Benevolent Trust or the Elks National Foundation</p>
          
        </div>
        <div class="panel-footer">
          
          <button class="btn btn-lg">Donate</button>
        </div>
      </div>      
    </div>    
  </div>
</div>