
<div id="myCarousel2" class="carousel slide text-center" data-ride="carousel">


   	<div class="carousel-inner" role="listbox">
	{% for events in today %}
   {% if forloop.first %} 

    <div class="item active">
        <div class="card" style="width: 20rem;">
				<div class="card-block">
					<img src="http://lorempixel.com/400/200/business">
				<h4 class="card-title">{{events.event_name}}</h4>
				<h3>{{events.event_type}}</h3>
				<h3>{{events.event_description}}</h3>
			</div>
		</div>
	</div>
  
  {% else %}
  <div class="item">
        <div class="card" style="width: 20rem;">
        <div class="card-block">
          <img src="http://lorempixel.com/400/200/business">
        <h4 class="card-title">{{events.event_name}}</h4>
        <h3>{{events.event_type}}</h3>
        <h3>{{events.event_description}}</h3>
      </div>
    </div>
  </div>

	{% endif %}
  {% endfor %}

	</div>

    <a class="left carousel-control" href="#myCarousel2"  role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel2"  role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>



			